#ifndef LIBDIURNA_VERSION_H
# define LIBDIURNA_VERSION_H
# define LIBDIURNA_VERSION_STRING  "${LIBDIURNA_VERSION_STRING}"
# define LIBDIURNA_VERSION_NUMBER  ${LIBDIURNA_VERSION_NUMBER}

#endif //LIBDIURNA_VERSION_H
